#root {
	text-align: center;
}

main {
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

.info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

img {
	object-fit: contain;
	margin: 1rem;
}